@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

:root {
  --primary-color: #c48207;
  --header-color: #3575f7;
  --grey-color: #f3f4f6;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  background-color: #f8d188;
}

hr {
  margin: 2rem 0rem;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}

.link-secondary {
  color: var (--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  background-color: white;
}

.list-non-bullet {
  list-style: none;
}

.reverse {
  display: flex;
  flex-direction: column-reverse;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.navigation .nav-pills {
  text-align: right;
}
.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
  background-color: red;
}

.logo {
  padding: 3rem;
}

.logo .logo-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.logo .logo-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--header-color);
}

.logo .logo-heading .heading-mark {
  color: var(--primary-color);
}

.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.grey {
  background-color: var(--grey-color);
}

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}
